/* index.html */

.btnMain {
  padding: 1.5em 3em;  
  font-size: 2rem;      
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;

}


.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: -5rem; 
  min-height: 50vh;   
}

.main-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  user-select: none;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .main-title {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
  
  .btnMain {
    padding: 1em 2em;
    font-size: 1.5rem;
  }
  
  .button-group {
    gap: 2rem;
    margin-top: -2rem;
  }
}


/* sign.html */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  color: black;
}

.form-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

input[type="file"] {
  margin-bottom: 25px; 
  padding: 0.4rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #111;
  color: white;
  
}

.wallet-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.wallet-address {
  font-size: 1rem;
  color: #ff0000;
  word-break: break-all;
}

.fee-note {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #1a1a1a;
}

.btn-group {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn.primary {
  background-color: #00ffd5;
  color: black;
}

.btn.secondary {
  background-color: #333;
  color: white;
  text-decoration: none;
}

.status-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ff0000;
}

#addressInput {
  margin-top: -10px;
}